
.up_form {
    width: 60vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #00aba32d;
    padding: 20px;
    border-radius: 10px;
    color: white;
    
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    backdrop-filter: blur(8px);
}

.up_form form{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    
}








ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
