body{
    
    display: flex;
}

h2{
    padding-block: 1vw;
}
.bemenet {
    width: 100vw; /* Ensure full viewport width */
    height: 100vh; /* Ensure it fills the full screen */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black; 
    color: white; /* Ensure text is visible */
    margin: 0; /* Remove unnecessary margin */
    padding: 0; /* Remove padding issues */
}
