.csapattagok {
  
  
  position: relative;
  height: 120vh; /* Full screen height */
  width: 100vw;
  background-color: aqua;
}




#tsparticles {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -2; /* Keep it behind everything */
  top: 0;
  left: 0;
}

