.formula_student {
    width: 100%;
    min-height: 100vh; /* Ensure it spans the full viewport */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pushes content up, keeps footer at bottom */
  }


.formula_student h2{
    color: rgb(255, 255, 255);
    font-size: 300%;
    
    margin-bottom: 1%;
}


.formula_student p{
    color: rgb(255, 255, 255);
    font-size: 130%;
    text-align: justify;
    width: 70%;
    align-self: center;
    font-weight: 400;

}


.elso_feher h3{
    
    font-size: 180%;
    margin-bottom: 4%;
    color: rgb(255, 255, 255);
}


.elso_feher{
    background-color: rgb(0, 0, 0);
    display: flex;

    width: 100%;
   
    
    justify-content: center;
    flex-direction: column;
}


.elso_feher, .masodik {
    z-index: 1;
    
}

.masodik{
    background-color: rgb(0, 0, 0);
    margin-top: -10%;
    display: flex;
    justify-content: center;
    
    
}


.background_cars{
    background-image: url('/assets/fs_parallax.jpg');
    background-size: cover;
    width: 100%;
    background-position: center;
    height: 100%; /* Ensures full layer coverage */
    z-index: 0;
    margin-top: 30%;
}