.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid #00aca100;
    border-radius: 10px;
    box-shadow: 5px 5px 4px rgba(3, 175, 177, 0.411);
    margin-block: 2vw;
    
    
    
}

.card_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #00ACA1;

}

.card_image{
    width: 20vw;
    margin-top: -5vw;
    
    backdrop-filter: blur(10px); /* Blur the background behind */
    -webkit-backdrop-filter: blur(10px);
    background: rgba(0, 172, 161, 0.078);
}



