
.header{
    margin: 0;
    padding: 0;
    background-color: bisque;
}

.header img{
    height: 50px;
    transition: transform 0.2s ease;
    
}

.header img:hover{
    
    transform: scale(1.1);
    
}