.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #000000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  z-index: 1000;
  overflow: visible;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
}

.navbar--visible {
  transform: translateY(0);
}

.navbar--hidden {
  transform: translateY(-100%);
}

.navbar__content {
  max-width: 1200px;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO - Now moved to the left */
.navbar__left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1; /* Takes up space on the left */
}

.navbar__logo {
  height: 100px; /* Adjust size as needed */
  margin-left: 20px; /* Move away from the left edge */
  margin-block: -30px;
}

/* NAVIGATION LINKS */
.navbar__left a,
.navbar__right a {
  text-decoration: none;
  color: #ececec;
  font-weight: 500;
  font-family: 'Korakati';
  font-weight: 600;
  font-style: normal;
}

.navbar__left a.active,
.navbar__right a.active {
  color: #00aba2;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  right: -450px;
  width: 450px;
  height: 100vh;
  background: #000000b6;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  transition: right 0.3s ease-in-out;
  z-index: 2000;
  overflow-y: auto;
  backdrop-filter: blur(10px);
}

.sidebar--open {
  right: 0;
}

.sidebar a {
  text-decoration: none;
  color: #ececec;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-family: 'Korakati';
  font-weight: 600;
  font-style: normal;
  margin-left: 10%;
}

.sidebar a:hover {
  color: #00aba2;
}

.close-btn {
  background: none;
  border: none;
  color: white !important;
  font-size: 1.5rem;
  align-self: flex-end;
  cursor: pointer;
  margin-bottom: 1rem;
}

/* SIDEBAR TOGGLE BUTTON */
.sidebar-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
