/* Base sidebar styling */

.audiowide-regular {
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
}


path {
  stroke: black;
}

.sidebar {
  
  width: 25%;
  height: 100vh;
  background-color: rgba(0, 170, 159, 0.5);
  
  position: fixed;
  
  
  backdrop-filter: blur(10px); /* Applies the blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
  
  z-index: 100;
  top: 54px;
  right: -25%; /* Hide sidebar off-screen to the right when closed */
  transition: right 0.3s ease; /* Smooth transition for opening/closing */
  margin-top: 16px;
  overflow-y: auto;
}

/* When sidebar is open */
.sidebar.open {
  right: 0; /* Slide into view from the right */
  z-index: 1000;
}

/* Sidebar links styling */
.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
}

.sidebar ul li {
  margin: 0;
  padding: 10px 20px;
}

.sidebar ul li a {
  
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
  
  color: #ecf0f1; /* Light text color */
  text-decoration: none;
  font-size: 24px;
  display: block;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.2s ease; /* Smooth hover effect */
}

/* Hover effect on links */
.sidebar ul li a:hover {
  background-color: #006f67; /* Slightly lighter color on hover */
}

/* Active link styling */
.sidebar ul li .active {
  background-color: #00c1b4; /* Highlighted color for active link */
  font-weight: bold;
}

/* Sidebar toggle button styling */
.sidebar-toggle {
  position: absolute;
  top: 10px;
  right: 10px; /* Position toggle button on the right side */
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}



.sidebar-toggle svg {
  width: 24px;
  height: 24px;
  color: #ff1500; /* Adjust color as needed */
  transition: transform 0.2s ease;
  z-index: 10;
  
}

.sidebar-toggle:hover svg {
  transform: scale(1.15);
}



@media (max-width: 768px) {
  /* Responsive adjustments for smaller screens */
  .sidebar {
    width: 100%;
    right: -100%;
  }
  
}
