
@font-face {
  font-family: 'Korakati';
  src: url('./fonts/korakati_font/korataki.otf') format('opentype'),
       url('./fonts/korakati_font/korataki_bold.otf') format('opentype');

  font-weight: normal;
  font-style: normal;
}



*{
  
  
  scrollbar-width: none; /* Firefox */
  
}



.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures it fills the full viewport */
}

.content-area {
  flex-grow: 1; /* Allows content to expand properly and push the footer down */
}



h1, h2, h3{
  font-family: 'Korakati';
  font-weight: 600;
  font-style: normal;
  
}

p, a{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}








